<form nz-form [formGroup]="addEditForm">
  <nz-form-item>
    <nz-form-label nzFor="clientId" nzRequired [nzSm]="4" [nzXs]="24">角色名</nz-form-label>
    <nz-form-control nzErrorTip="请输入角色名" [nzSm]="18" [nzXs]="24">
      <input id="clientId" name="clientId" formControlName="clientId" nz-input placeholder="请输入角色名" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="clientIdIssuedAt" [nzSm]="4" [nzXs]="24">描述</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input id="clientIdIssuedAt" name="clientIdIssuedAt" formControlName="clientIdIssuedAt" nz-input placeholder="请输入描述" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="clientSecret" [nzSm]="4" [nzXs]="24">描述</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input id="clientSecret" name="clientSecret" formControlName="clientSecret" nz-input placeholder="请输入描述" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="clientSecretExpiresAt" [nzSm]="4" [nzXs]="24">描述</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input id="clientSecretExpiresAt" name="clientSecretExpiresAt" formControlName="clientSecretExpiresAt" nz-input placeholder="请输入描述" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="clientName" [nzSm]="4" [nzXs]="24">描述</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input id="clientName" name="clientName" formControlName="clientName" nz-input placeholder="请输入描述" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="clientAuthenticationMethods" [nzSm]="4" [nzXs]="24">描述</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input id="clientAuthenticationMethods" name="clientAuthenticationMethods" formControlName="clientAuthenticationMethods" nz-input placeholder="请输入描述" />
    </nz-form-control>
  </nz-form-item>
</form>
